<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>Simple Blog</h1>

    <div>
        <input id="title" type="text" placeholder="Title"><br><br>
        <textarea id="content" placeholder="Content"></textarea><br><br>
        <button onclick="addPost()">Add Post</button>
    </div>

    <br><br>

    <table>
        <thead>
            <tr>
                <th>Post Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="blogTableBody"></tbody>
    </table>

    <br>
    <div id="pagination"></div>

    <form action="http://ec2-43-204-229-196.ap-south-1.compute.amazonaws.com:3000/logout" method="GET" id="logoutForm">
        <button type="submit" id="logoutButton">Logout</button>
    </form>

    <script src="script.js"></script>


</body>

</html>